@font-face {
    font-family: 'ralewayB';
    src: url('fonts/raleway/Raleway-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'ralewayM';
    src: url('fonts/raleway/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ralewayT';
    src: url('fonts/raleway/Raleway-Thin.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      display: flex;
      flex-wrap: nowrap;
      font-family: ralewayM, Arial, Helvetica, sans-serif;
      font-weight: 900;
}
#map {
    height: 100vh;
    width: 100%;
}

.legend {
    background: white;
    padding: 10px;
    border-radius: 8px;
    line-height: 1.5;
    font-size: 14px;
    cursor: pointer;
}

.legend div {
    display: flex;
    align-items: center;
    gap: 6px; 
}

.legend span {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    display: inline-block;
}
.leaflet-control-zoom{
    display: none;
}

.nodo{
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: black;
}
.info-camion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 24px;
    z-index: 10000;
}
#map {
      width: calc(100% - 400px);
      height: 100vh;
      
}
#btns{
    position: absolute;
    z-index: 1000;
    right: 0;
    display: flex;
    flex-direction: row;
}
#btns button{
    width: 43px;
    height: 43px;   
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    background: #b1dcff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#btns button:hover{
    background: #9cc2e1;
    color: #393939;
}
    #nodos{

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 100vh;
      overflow-y: scroll;
      background: #b1dcff;
      border-left: 2px solid #000;
      gap: 10px;
      padding: 20px;
    }
    
    textarea{
        display: none;
        height:100%;
      margin: 10px;
      padding: 10px;
      font-size: 16px;
      width: 100%;
      border: 2px solid #000;
      border-radius: 5px;
      background: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }

@media screen and (max-width:1000px) {
    body{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #nodos{
        width: 100%;
        height: 200px;
        border-left: none;
        border-top: 2px solid #000;
        flex-direction: row;
        overflow-x: scroll;
    }
    .nodo{
        min-width: 250px;
        height: 100px;
    }
    #map{
        width: 100%;
        height: calc(100vh - 400px);
    }
}